* {
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.test {
  color: #f2f2f2a1;
  text-transform: capitalize;
}

.liston {
  background: red;
  height: 70px;
  width: 300px;
  clip-path: polygon(100% 5%, 91% 50%, 100% 100%, 0% 100%, 5% 49%, 0% 0%);
}
