<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!--si hay custom page de errores-->
    <customErrors mode="Off" defaultRedirect="error.aspx">
      <error statusCode="404" redirect="error/error.aspx?404"/>
      <error statusCode="500" redirect="error/error.aspx?500"/>
      <error statusCode="502" redirect="error/error.aspx?502"/>
      <error statusCode="503" redirect="error/error.aspx?503"/>
      <error statusCode="509" redirect="error/error.aspx?509"/>
    </customErrors>
    <httpProtocol>
      <customHeaders>
        <!--<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />-->
        <add name="Referrer-Policy" value="same-origin" />
        <!--<add name="Content-Security-Policy" value="default-src 'self'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com https://fonts.googleapis.com; frame-ancestors 'self'; form-action 'self'" />-->
        <add name="X-Frame-Options" value="DENY" />
        <add name="x-frame-options" value="DENY" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="x-content-type-options" value="nosniff" />
        <add name="X-Permitted-Cross-Domain-Policies" value="none" />
        <add name="Cache-Control" value="no-cache" />
        <remove name="x-powered-by" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <!-- para ocultar las extensiones en paginas que no son modelo MVC-->
    <rewrite>
      <rules>
        <rule name="Hideextension" stopProcessing="true">
          <match url="^(.*)$"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{RE QUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true"/>
            <add input="{REQUEST_FILENAME}.html" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="{R:1}.html"/>
        </rule>
      </rules>
    </rewrite>
    <!-- para cuando se suban archivos se limite el tamaño de los mismos-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10485760" /><!--10MB-->
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>