<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="index.js" verb="*" modules="iisnode" resourceType="File" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="index.js" />
                </rule>
            </rules>
        </rewrite>
		
		<httpProtocol>
            <customHeaders>
			<add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
                <add name="Referrer-Policy" value="same-origin" />
                <!-- <add name="Content-Security-Policy" value="default-src 'self' 'unsafe-eval'; style-src 'self' https://fonts.googleapis.com 'unsafe-inline'; font-src 'self' https://fonts.gstatic.com https://fonts.googleapis.com; frame-ancestors 'self'; form-action 'self';script-src 'self'" /> -->
                <add name="Content-Security-Policy" value="style-src 'self' https://fonts.googleapis.com 'unsafe-inline'; font-src 'self' data: https://fonts.gstatic.com https://fonts.googleapis.com;" />
                <add name="Permissions-Policy" value="fullscreen=()"/>;
                <!-- <add name="X-Frame-Options" value="SAMEORIGIN" /> -->
                <!-- <add name="X-Content-Type-Options" value="nosniff" /> -->
                <!-- <add name="X-Permitted-Cross-Domain-Policies" value="none" /> -->
                <add name="x-robots-tag" value="noindex, nofollow, noimageindex, nosnippet, noindexifembedded, nositelinkssearchbox, noarchive" /> 
				<remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
        <!-- <httpCookies httpOnlyCookies="true" /> -->
        <security>
            <requestFiltering removeServerHeader ="true" />
        </security>

    </system.webServer>
</configuration>
